@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular.eot');
	src: local('../fonts/RobotoRegular.eot'),
    	 url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
    	 url('../fonts/RobotoRegular.woff') format('woff'),
       	 url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');    
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	text-decoration: none;
	outline: none;
}
html,body {
	width: 100%;
	height: 100%;
	color: #3F3F3F;
	margin: 0 auto;
}
ol, ul {
	list-style-type: none;
}
*:before, *:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
textarea {
	resize: vertical;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*****************************START********************************************/
body{
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	color: #3F3F3F;
	padding: 5px;
	min-width: 305px;
	width: calc(100vw - 15px);
}
.img-adapt{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 1s ease-out;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header {
	margin: 0 5px;
}
.header, .slider, .about-buy, .offer, .reviews {
	margin-bottom: 30px;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
}
.header__body {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
  	justify-content: space-between;
}
.header__logo {
	flex: 0 1 300px;
	margin: 0 20px;
	text-align: center;
}
.logo {
	a {
		display: block;
		height: 100%;
	}
	object {
		pointer-events: none;
		@media (max-width: 480px){
			height: 35px;
		}
	}	
}
@media (max-width: 768px){
	body.lock{
		overflow: hidden;
	}
	.header{
		margin-bottom: 2px;
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		padding-bottom: 10px;
		background-color: #fff;
}
	.header__menu {
		position: fixed;
		height: 100%;
		width: 100%;
		top: -100%;
		left: 0;
		overflow: auto;
		background-color: #62B7D8;
		z-index: 1;
		transition: all 0.3s ease 0s;
	}
	.header__menu.active {
		display: block;
		margin-top: 110px;
		top: 0;
		padding-bottom: 115px;
	}
	.header__burg {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 2;
		top: 10px;
		flex-shrink: 0;
		margin-right: 10px;
	}
	.header__burg span {
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		top: 9px;
		background-color: #006699;
		transition: all 0.3s ease 0s;
	}
	.header__burg:before,
	.header__burg:after {
		content: "";
		background-color: #006699;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burg:after{
		bottom: 0;
	}
	.header__burg.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burg.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burg.active span {
		transform: scale(0);
	}
	.header__on-map {
		display: none;
	}
	.header>.container{
		display: -webkit-box;
    	display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
	}
	.header__body {
		min-width: 135px;
	}
	.no-flexbox .header__logo {
		margin: 0 40px;
		flex-basis: 200px;
	}
}
@media (max-width: 480px) {
	.no-flexbox .header__logo {
		margin: 0 10px;
		flex-basis: 100px;
	}
}
.header__list {
	margin-bottom: 20px;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	@media (max-width: 768px){
		flex-direction: column;
		margin-bottom: 0; 
	}
}
.header__list-item {
	border-right: 1px solid gray;
	flex: 1 1 auto;
	&:last-child {
		border: none;
	}
}
.header__link {
	display: block;
	padding: 10px 0;
	text-align: center;
	color: #3F3F3F;
&:hover {
	-webkit-box-shadow: inset 0 0 5px #006699;
    -moz-box-shadow: inset 0 0 5px #006699;
	box-shadow: inset 0 0 5px #006699;
}
&:active {
		background-color: #006699;
		color: white;
	}
}
.header__link_checked {
	background-color: #006699;
	color: white;
}
.header__contacts {
	display: flex;
	flex-direction: column;
	}
.contacts-tel__item_beltel {
	background-position: 0 -16px;
}
.contacts-tel__item_mts {
	background-position: 0 0;
}
.contacts-tel__item_a1 {
	background-position: 0 -32px;
}
@media (max-width: 480px){
	.header__menu.active {
		margin-top: 47px;
	}
	.header__contacts-phones .contacts-tel__item {
		display: none;
	}
	.header__body {
		min-width: 115px;
	}
}
.contacts-tel__item {
	background-image: url("../img/header/phone.png");
	background-repeat: no-repeat;
	margin: 5px;
	font-size: 12px;
	padding-left: 21px;
	line-height: 16px;
		a {
			color: #3F3F3F;
			&:hover{
				text-shadow: 0 0 5px;
				color: #006699;
			}
		}
}
.btn {
	width: 100%;
    background-color: #006699;
    border-radius: 7px;
    p {
			padding: 10px 7px;
			color: white;
    		font-size: 12px;
    		text-align: center;
    		cursor: pointer;
    		label{
    			cursor: pointer;
    		}	
		}
}
.btn-callback {
    transition-duration: 0.2s;
		&:hover {
					opacity: 0.7;
				}
		&:active {
					opacity: 0.9;
					border-color: white;
					transition-duration: 0.2s;
					transform: translateY(1px);
				}
}
@media (max-width: 480px) {
	.btn-callback {
    margin-top: 8px;
	}
}
/**********************SLIDER******************************************************/
.slider{
	flex: 0 0 auto;
	position: relative;	
}
.slider__box{
	background-color: #000;
	position: relative;
	z-index: 1;
	.slick-list {
	overflow: hidden;
	}
}
.item{
	img{
		opacity: 70%;
		min-height: 300px;
		display: block;
	}
}
	.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	max-height: 500px;
}
.slider__advertising{
	position: absolute;
	width: 75%;
	left: calc(50% - 75% / 2);
	top: 27%;
	color: #fff;
	text-align: center;
	z-index: 1;
}
.slider__title{
	font-size: calc(38px + 26 * (100vw / 1150));
	margin-bottom: 20px;
}
.slider__text{
	font-size: calc(14px + 9 * (100vw / 1150));
	font-weight: bold;
	margin-bottom: 20px;
}
.slider__btn{
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	width: calc(227px + (73 * 0.7) * 100vw / 1150);
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px 1px #00487B;
  	-moz-box-shadow: 0 1px 1px 1px #00487B;
	box-shadow: 0 1px 1px 1px #00487B;
	background-color: #006699;
	color: white;
	background-image: linear-gradient(to right, #002878 0%, #33d9de 50%, #6ab1d7 100%);
	animation: backgr 2s linear infinite;
	background-size: 200% 100%;
	cursor: pointer;
	&:hover {
		text-shadow: 0 0 5px #fff;
	}
	&:active {
		transform: scale(0.8);
	}
	p{
		padding: 18px 10px;
		font-size: 18px;
	}
	.slider-btn-label {
		padding: 20px;
	}
}
@keyframes backgr{
	50% {
		background-size: 100% 100%;
	}
	100% {
		background-size: 200% 100%;
	}
}
@media (max-width: 768px) {
	.slider {
		margin-top: 120px;
	}
	.slider__advertising {
		top: 22%;
	}
	.slider__title {
		font-size: 34px;
		margin-bottom: 0;
	}
	.slider__text{
		font-size: 16px;
	}
	.slider__btn{
		p{
			padding: 17px;
		}
	}	
}
@media (max-width: 480px) {
	.slider {
		margin-top: 45px;
	}
	.slider__advertising {
		margin: auto;
	}
	.slider__title {
		font-size: 25px;
		margin-bottom: 0;
	}
	.slider__text{
		font-size: 13px;
	}	
}
/****************************MAIN BODY ********************************************/
.main__body {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
}
.catalog {
	flex: 0 1 auto;
	min-width: 200px;
	background-color: #F5F5F5;	
}
.catalog__body{
	padding: 5px 5px 0;
	position: sticky;
	top: 0;
	>div{
	border-bottom: 1px solid #62B7D8;
	}
}
.no-csspositionsticky {
	.catalog__body {
		position: relative;
	}
}
@media (max-width: 768px) {
	.catalog {
	text-align: center;	
	}
}
.catalog__title {
	font-size: 25px;
	padding: 10px;
}
.catalog__item {
	a {
		display: block;
		padding: 10px;
		text-decoration: none;
		color: #3F3F3F;
		&:hover {
			background-color: #b7f0f0;
		}
		&:active {
			-webkit-box-shadow: inset 0 0 5px #006699;
  			-moz-box-shadow: inset 0 0 5px #006699;
			box-shadow: inset 0 0 5px #006699;
		}
	}
}
.catalog__item_active  {
	a, a:hover {
		background-color: #006699;
		color: white;
	}
}
.search__items{
	p{
		margin: 10px 0;
		font-size: 10px;
		font-weight: bold;
	}
}
.search__input{/**************************************************/
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	width: 190px;
    margin: auto;
	border: 1px solid #555;
    padding: 0 1px 0 6px;
    border-radius: 5px;
    justify-content: space-between;
    padding-left: 5px;
    align-items: center;
	input{
	width: 150px;
    height: 33px;
	}
	a{
		flex: 0 0 30px;
		padding: 8px;
		text-align: center;
	}
}
.filter__item {
	position: relative;
	line-height: 35px;
	span{
		cursor: pointer;
	}
	span:nth-child(1){
		font-size: 13px;
		
	}
	span:hover{
		color: #006699;
	}
	span:nth-of-type(2){
		position: absolute;
		right: 0;
		top: 10px;
	}
	>input:first-of-type{
		display: none;
		&:checked ~ .filter__list{
			display: block;
		}
	}
}
.filter__item:last-child{
		margin-bottom: 10px;
	}
.filter__list{
	display: none;
	margin: 10px 0;
	span{
		margin-left: 20px;
	}
	li{
		line-height: 20px;
	}
}
@media (max-width: 768px) {
	.filter__item {
	margin: 0 auto;
    text-align: left;
    width: 30%;
	}
}
@media (max-width: 480px) {
	.filter__item {
    width: 50%;
	}
}
/*****************************MAIN + CONTENT*******************************************/
.main {
	flex: 1 1 auto;
}
.main__content {
	flex: 1 1 auto;
	padding-bottom: 10px;
}
/*************************CONTACTS*****************************************/
.contacts__content {
	padding: 0 15px 15px;
}
.contacts__title {
	margin-bottom: 20px;
}
.contacts__body {
	div, ul {
		margin-bottom: 10px;
	}
	h3{
		margin-bottom: 10px;
	}
	a {
		color: inherit;
	}
}
.contacts-items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	align-items: center;
	p {
		font-size: 15px;
		font-weight: bold;
	}
}
@media (max-width: 480px) {
	.contacts-items{
		display: block;
}}
.contacts__mail {
	a:hover {
		text-shadow: 0 0 5px;
		color: #006699;
	}
}
/**********************PRODUCTS***************************************/
.products, .carusel__wrap {	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	gap: 10px;
}
.products__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr 40px / 1fr;
	padding: 5px;
	a:nth-child(2), p{
		padding: 0 10px;
	}
	p{
		text-align: center;
		font-size: 17px;
		font-weight: bold;
		align-self: center;
	}
}
.hover-item:hover img {
        transform: scale(1.1);
    }
.products__img {
	overflow: hidden;
}
.products__name {
	color: #3F3F3F;
	&:hover{
		color: #006699;
	}
}
.product {
	padding: 10px;
}
.product__wrap {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10px;
}
.product__image {
	flex: 0 1 450px;
	min-width: 230px;
	border: 1px solid #006699;
    padding: 2px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 5px;
  	-moz-box-shadow: 0 2px 5px;
    box-shadow: 0 2px 5px;
}
.product__content {
	flex: 1 1 auto;
	padding: 10px;
	text-align: center;
}
.product__review {
	text-align: center;
	margin-bottom: 20px;
	a {
		padding: 0 10px;
		&:hover {
			background-color: #F4F4F4;
		}
	}
	a:last-child {
		border-left: 1px solid #555;
		display: inline-block;
	}
}
.description__row{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}
.description__column {
	p, a {
		line-height: 30px;
	}
}
.product__price {
	font-size: 50px;
	font-weight: bold;
	margin: 20px auto;
}
/*********************************TABS**********************************/
.product__tabs {
	margin-bottom: 20px;
}
.tabs__list {
	display: -webkit-box;
    display: -ms-flexbox;	
	display: flex;
	li {
		padding: 10px 15px;
		background-color: #F3F3F3;
		border: 1px solid #62B7D8;
		border-bottom: none;
		flex: 0 1 33.3333%;
		position: relative;
		&:hover {
			background-color: #E9E0F3;
		}
		&:active {
			background-color: #9E9DA8;
		}
}
	li:first-child {
		border-top-left-radius: 5px;
		border-right: none;
	}
	li:last-child {
		border-top-right-radius: 5px;
		border-left: none;
	}
	li:not(.act) {
  		cursor: pointer;
	}
	.act:after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		right: 0;
		height: 5px;
		background: #F3F3F3;
	}
}
.tabs__body {
	line-height: 20px;
}
.tabs__content {
	display: none;
	background-color: #F3F3F3;
	padding: 10px;
	border: 1px solid #62B7D8;
	border-radius: 0 0 5px 5px;
	table {
		width: 100%;
	}
}
.act {
		display: block;
	}
.tabs__specification {
	tbody tr:hover {
		background-color: #E9E0F3;
	}
	tbody tr td {
		border-top: 1px solid #ddd;
	}
}
.tabs__review {
	div, h3 {
		margin-bottom: 10px;
	}
}
.form-wrap {
	max-width: 400px;
	margin: 0 auto;
}
.review__write {	
}
.review-name-user {
	input {
		height: 38px;
		border-radius: 5px;
		width: 100%;
		padding: 5px 8px;	
	}
}
.review-text-user {
	textarea {
		width: 100%;
		padding: 5px 8px;
		min-height: 80px;
	}
}
.required:after {
	content: '*';
	color: #F3160E;
}
.review-raty {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.review-ratystar {
	label:hover, label:hover ~ label, input:checked ~ label {
		color: #FFDE00;
	}
}
div.review-ratystar {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	margin: 0 0 0 5px;
	font-size: 20px;
	flex-direction: row-reverse;
	input {
		display: none;
	}
	label {
		cursor: pointer;
		display: inline-block;
		padding: 0 5px;
	}
}
.review-subbutton {
	button {
		width: 150px;
    	height: 38px;
    	margin: 0 auto;
		font-size: 14px;
		border-radius: 5px;
		background-color: #C5C5C5;		
		&:hover {
			-webkit-box-shadow: 0 0 3px 2px #006699;
  			-moz-box-shadow: 0 0 3px 2px #006699;
			box-shadow: 0 0 3px 2px #006699;
		}
		&:active {
			-webkit-box-shadow: inset 0 0 3px 2px #006699;
  			-moz-box-shadow: inset 0 0 3px 2px #006699;
			box-shadow:inset 0 0 3px 2px #006699;
		}
	}
}
.carusel {
	margin-bottom: 20px;
}
.carusel__wrap {
	.item-btn {
		width: 150px;		
	}	
}
@media (max-width: 768px) {
	.product__wrap {
		flex-wrap: wrap;
	}
}
@media (max-width: 480px) {
	.tabs__list {
		flex-direction: column;
		&.tabs__list li {
		border: 1px solid #62B7D8;
		border-bottom: none;
			&:first-child {
			border-radius: 5px 5px 0 0;
			}
			&:last-child {
				border-radius: 0;
			}
			&.act {
  				background-color: #62B7D8;
			}
			&.act:after {
				display: none;
			}		
		}
	}
}
/*************************ABOUT BUY***************************************************/
.about-buy {
}	
.title-h2 {
	h2{
		text-align: center;
		font-size: calc(17px + 8 * (100vw / 1150));
		padding: 10px 0;
	}
}
@media (max-width: 768px) {
	.title__h2 {
		h2 {
		font-size: calc(17px + (8 * 3 * 0.7) * ((100vw - 320px) / 1150));
		}
	}
}
.about-buy__box {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.about__item {
	flex: 0 1 14%;
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	min-width: 70px;
	text-align: center;
	object {	
		object-fit: cover;
	}
}
.about-buy__number {
	font-weight: bold;	
}
.about-buy__text, .about-buy__number {
	font-size: calc(10px + 10 * (100vw / 1150));
}
@media (max-width: 768px) {
	.about-buy__text, .about-buy__number {
		font-size: calc(10px + (10 * 3 * 0.7) * ((100vw - 320px) / 1150));
	}
}
/**********************OFFER ITEMS***************************************************/
.offer__price-old {
	margin-top: 15px;
	span {
		position: relative;
		color: red;
		&:before {
			content: "";
			position: absolute;
			top: 8px;
			width: 100%;
			border-top: 1px solid #000;
		}
	}	
}
.offer {
	flex: 1 1 auto;
}
.offer__items {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.offer__item {
	flex: 1 1 320px;
	display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
}
.offer__img {
	flex: 0 0 150px;
	margin: 5px;
}
.offer__description {
	text-align: center;
	flex: 1 1 200px;
	max-width: 250px;
	&>div {
		margin-bottom: 15px;
	}
}
.offer__rating {
	font-size: 18px;
	margin-bottom: 5px;
}
/*************************item-button**********************/
.item-btn {
	margin: 5px auto 0;
	width: 200px;
	padding: 10px;
	outline: none;
	border-radius: 5px; 
	color: #fff;
	background-color: #006699;
	&:hover {
		text-shadow: 0px 0px 5px #fff;
		background-color: #2C3E50;
		transition: 0.4s;
		-webkit-box-shadow: 0 0 5px 5px #3498DB;
  		-moz-box-shadow: 0 0 5px 5px #3498DB;
		box-shadow: 0 0 5px 5px #3498DB;
	}
	&:active {
			background-color: #2C3E50;
			transition-duration:  0.4s;
			-webkit-box-shadow: none;
  			-moz-box-shadow: none;
			box-shadow: none;
			transform: scale(0.9);
	}
}
/*************************REVIEWS*****************************************************/
.reviews {
	flex: 1 1 auto;
}
.reviews__body {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 10px;
}
.reviews__item {
	flex: 0 1 210px;	
	margin: 0 2px;
}
.reviews__item-box {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.reviews__img {}
.reviews__text {
	flex: 1 1 auto;
	margin-bottom: 10px;
}
.reviews__author {
	font-weight: bold;
}
/***********************FOOTER***********************************************/
.footer {
	padding: 20px 10px;
	color: white;

	flex: 0 0 auto;
	font-size: 10px;
	background: url("../img/footer/footer-bg2.jpg") 0px 0px no-repeat;
	background-size: cover;
}
.footer__box {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer__columns {
	margin-bottom: 10px;
	-webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
	flex: 0 1 33.333%;
}
.upper {
	text-transform: uppercase;
}
.footer__copy {}
.footer__logo {
	margin: 0 auto 20px;
	max-width: 200px;
}
.copyright__box{
}
.footer__on-map {
	font-size: calc(12px + 6 * (100vw / 1150));
}
@media (max-width: 768px) {
	.footer__box {
	display: block;
}
	.footer__on-map {
		font-size: calc(12px + (8 * 0.7) * ((100vw - 320px) / 1150));
	}
	.footer__contacts .contacts-tel__item {
    display: inline-block;
	}
	.social-list {
	display: flex;
	justify-content: space-around;
	}
}
.footer__contacts {
	p, a {
		font-size: 14px;
		color: white;
	}
}
.social {
	margin-top: 10px;
}
.social-item {
	.icon {
		padding: 9px;
    	border-radius: 50%;
	}
	display: inline-block;
	a {
		font-size: 16px;
	}
}
.icon-facebook2:hover {
	background-color: #555;
}
.icon-vk:hover {
	background-color: #5f83aa;
}
.icon-instagram:hover {
	background-color: #e54672;
}
.icon-youtube:hover {
	background-color: #d62424;
}
/****************MODAL*******************************************/
.modal1, .modal2 {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 2;
	opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    transform: scale(0);
}
.modal__box {
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.modal__content {
	padding: 30px 25px;
	background-color: #fff;
	position: relative;
	label span {
		position: absolute;
	    top: 2px;
	    right: 2px;
	    font-size: 20px;
	    color: white;
	    padding: 0 6px;
	    background-color: #006699;
	    border-radius: 50%;
	    cursor: pointer;
		}
}
#modal__check1{
	display: none;
	&:checked ~ .modal1 {
		opacity: 1;
		visibility: visible;
		transform: scale(1) rotate(360deg);
	}
}
#modal__check2{
	display: none;
	&:checked ~ .modal2 {
		opacity: 1;
		visibility: visible;
		transform: scale(1) rotate(360deg);
	}
}
.modal__title {
	margin-bottom: 20px;
}
.modal__form {
	input {
		font-size: 13px;
		padding: 9px 5px;
		width: 100%;
		letter-spacing: 0.3px;
		border-radius: 5px;
		border: 2px solid #2196f3;
   		margin-bottom: 5px;
	}
}
.modal__textarea {
	textarea {
			width: 100%;
			min-height: 80px;
			font-size: 15px;
			padding: 9px 5px;
			letter-spacing: -1px;
			border-radius: 5px;
			border: 2px solid #2196f3; 
		}
}
.modal__phones {
	display: none;
}
.modal__sub {
	text-align: center;
}
.modal__btn {
	padding: 11px 39px;
    background-color: #006699;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}
@media (max-width: 480px) {
	.modal__phones {
	display: block;
	}
}
.box__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.popup__item {
	max-width: 200px;
}
.box__gallery-frame {
	display: flex;
	justify-content: center;
}
