@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	text-decoration: none;
	outline: none;
}
html,body {
	width: 100%;
	height: 100%;
	color: #3F3F3F;
	margin: 0 auto;
}
ol, ul {
	list-style-type: none;
}
*:before, *:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*****************************START********************************************/
body{
	font-family: "Roboto",sans-serif;
	font-size: 14px;
	color: #3F3F3F;
	padding: 5px;
	min-width: 305px;
	width: calc(100vw - 15px);
}
.img-adapt{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header {
	padding: 30px 0 0 0;
}
.header, .slider, .about-buy, .offer, .reviews {
	margin-bottom: 30px;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
}
.header__menu {

}
.header__body {
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}
.header__logo {
	flex: 0 1 300px;
	a {
		display: block;

	}
	
}
.logo {}
.header__burg {}
.header__menu {
}

.header__list {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
}
.header__list-item {
	border-right: 1px solid gray;
	flex: 1 1 auto;
	&:last-child {
		border: none;
	}
}
.header__link {
	display: block;
	padding: 10px 0;
	text-align: center;
	color: #3F3F3F;
	&:hover {

		box-shadow: inset 0 0 5px #006699;
	}
	&:active {
		background-color: #006699;
		color: white;
	}
}
.header__link_checked {
	background-color: #006699;
	color: white;
}
.header__phone {
	display: flex;
	flex-direction: column;

}
.header__beltel, .footer__beltel {
	background-position: 0 -16px;
}
.header__phone-mts, .footer__phone-mts {
	background-position: 0 0;
}
.header__phone-a1, .footer__phone-a1 {
	background-position: 0 -32px;
}
.phone {
	background-image: url("../img/header/phone.png");
	background-repeat: no-repeat;
	margin: 5px;
	font-size: 12px;
	padding-left: 21px;
	line-height: 16px;
		a {
			color: #3F3F3F;
			&:hover{
				text-shadow: 0 0 5px;
			}
		}
}

.btn-callback {
    width: 100px;
    padding: 15px 55px;
    position: relative;
    background-color: #006699;
    background-image: none;
    color: white;
    font-size: 15px;
    transition-duration: 0.2s;
    border-radius: 2px;

		&:hover {
					opacity: 0.7;
				}
		&:active {
					opacity: 0.9;
					border-color: white;
					transition-duration: 0.2s;
					transform: translateY(1px);
				}
& a {
			position: absolute;
			top: 0;left: 0;right: 0;bottom: 0;
			font-size: 10px;
			color: white;
			text-align: center;
			padding: 8px 5px;
		}
}
/**********************DLIDER******************************************************/
.slider {
	flex: 0 0 500px;
	img{
		position: relative;
		
		filter: drop-shadow(2px 3px 5px black);
		opacity: 70%;
	}

.slider__box {
	height: 500px;
	background-color: #000;
}
.slider__advertising {
	position: absolute;
	width: 75%;
	left: calc(50% - 75% / 2);
	top: 375px;
	color: #fff;
	text-align: center;
}
}
.slider__title {
	font-size: calc(38px + 26 * (100vw / 1150));
	margin-bottom: 20px;
}
.slider__text {
	font-size: calc(14px + 9 * (100vw / 1150));
	font-weight: bold;
	margin-bottom: 20px;
}
.slider__btn {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	width: calc(227px + (73 * 0.7) * 100vw / 1150);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 1px 1px 1px #00487B;
	background-color: #006699;
	color: white;
	background-image: linear-gradient(to right, #002878 0%, #33d9de 50%, #6ab1d7 100%);
	animation: backgr 2s linear infinite;
	background-size: 200% 100%;
	cursor: pointer;
	&:hover {
		text-shadow: 0 0 5px #fff;
	}
}
@keyframes backgr{
	100% {
		background-position: 100% 0;
	}
}
@media (max-width: 768px) {
	.slider__title {
		font-size: calc(38px + (37 * 0.7) * ((100vw - 320px) / 1150));
}
	
}
/****************************MAIN BODY ********************************************/
.main__body {
	display: flex;
}
.catalog {
	flex: 0 1 auto;
	min-width: 200px;

	background-color: #F5F5F5;	
}
.catalog__title {
	font-size: 25px;
	padding: 10px;
}
.catalog_items {
	position: sticky;
	top: 0;
}
.catalog__item {
	a {
		display: block;
		padding: 10px;
		text-decoration: none;
		color: #3F3F3F;
		&:hover {
			background-color: #b7f0f0;
		}
	}
}
.catalog__item_active  {
	a, a:hover {
		background-color: #006699;
		color: white;
	}
}

/*****************************MAIN + CONTENT*******************************************/
.main {
	flex: 1 1 auto;
}
.main__content {
	flex: 1 1 auto;
}

/**********************RODS + PRODUCTS***************************************/
.rods {}
.rods__title {}
.rods__body {
	gap: 10px;
}
.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}
.products__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr 40px / 1fr;
	padding: 5px;
}
.products__img {
	
}
.products__name {
	padding: 0 10px;
}

/*************************ABOUT BUY***************************************************/
.about-buy {
}	
.title-h2 {
	h2{
		text-align: center;
		font-size: calc(17px + 8 * (100vw / 1150));
		padding: 10px 0;
	}
}

@media (max-width: 768px) {
	.title__h2 {
		h2 {
		font-size: calc(17px + (8 * 3 * 0.7) * ((100vw - 320px) / 1150));
		}
	}
}


.about-buy__box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.about__item {
	flex: 0 1 14%;
	display:flex;
	flex-direction: column;
	min-width: 70px;
	text-align: center;
	object {	
		object-fit: cover;
	}
}
.about-buy__number {
	font-weight: bold;
	
}
.about-buy__text, .about-buy__number {

	font-size: calc(10px + 10 * (100vw / 1150));
}
@media (max-width: 768px) {
	.about-buy__text, .about-buy__number {
		font-size: calc(10px + (10 * 3 * 0.7) * ((100vw - 320px) / 1150));
	}
}
/**********************OFFER ITEMS***************************************************/
.offer__items {}
.offer__text {}
.offer__price-old {
	span {
		position: relative;
		color: red;
		&:before {
			content: "";
			position: absolute;
			top: 8px;
			width: 100%;
			border-top: 1px solid #000;
		}
	}	
}

.offer__price-new {}
.offer {
	flex: 1 1 auto;
}
.offer__items{
	//*display: grid;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	//*grid-template-columns: repeat(auto-fit, 370px);*/
	//*grid-template-rows: auto;*/

}
.offer__item {
	//*display: grid;*/
	//*grid-template-columns: repeat(2, minmax(100px, 280px));*/
	//*grid-template-rows: 2, auto;*/
	flex: 1 1 320px;
	display:flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
}
.offer__img {
	flex: 0 0 150px;
	margin: 5px;
}
.offer__description {
	text-align: center;
	flex: 1 1 200px;
	max-width: 250px;

	&>div {
		margin-bottom: 15px;
	}
}
.offer__rating {
	font-size: 18px;
	margin-bottom: 5px;
}
.offer__btn, .products__btn {
	margin: 5px auto 0;
	width: 200px;
	padding: 10px;
	outline: none;
	border-radius: 5px; 
	color: #fff;
	background-color: #006699;
	&:hover {
		text-shadow: 0px 0px 5px #fff;
		background-color: #2C3E50;
		transition: 0.4s;
		box-shadow: 0 0 5px 5px #3498DB;
	}
	&:active {
			background-color: #2C3E50;
			transition-duration:  0.4s;
			box-shadow: none;
			transform: scale(0.9);
	}
}
/*************************REVIEWS*****************************************************/
.reviews {
	flex: 1 1 auto;
}
.reviews__box {}
.reviews__title {}
.title__h2 {}
.reviews__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 10px;
}
.reviews__item {
	flex: 0 1 210px;
	
	margin: 0 2px;

}
.reviews__item-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.reviews__img {}
.reviews__text {
	flex: 1 1 auto;
	margin-bottom: 10px;

}
.reviews__author {
	font-weight: bold;
}
/***********************FOOTER***********************************************/
.footer {
	padding: 20px 10px;
	color: white;
	flex: 0 0 220px;
	font-size: 10px;
	background: url("../img/footer/footer-bg2.jpg") 0px 0px no-repeat;
	background-size: cover;
}
.footer__box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.upper {
	text-transform: uppercase;
}

.footer__copy {
	flex: 0 1 33.333%;
}
.footer__logo {
	margin-bottom: 20px;
	max-width: 200px;

}
.footer__on-map {
	font-size: calc(12px + 6 * (100vw / 1150));
}
@media (max-width: 768px) {
	.footer__on-map {
		font-size: calc(12px + (8 * 0.7) * ((100vw - 320px) / 1150));
	}
}
.footer__contacts {
	p, a {
		font-size: 14px;
		color: white;
	}
}
.footer__mail {
	
}
.footer__social {
	margin-top: 10px;

}
.footer__social-list {

}
.footer__social-item {
	.icon {
		padding: 9px;
    	border-radius: 50%;
	}
	display: inline-block;
	a {
		font-size: 16px;
	
	}
}
.icon-facebook2:hover {
	background-color: #555;
}
.icon-vk:hover {
	background-color: #5f83aa;
}
.icon-instagram:hover {
	background-color: #e54672;
}
.icon-youtube:hover {
	background-color: #d62424;
}
