body, html {
  min-width: 304px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container h1 {
  text-align: center;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.photogallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  gap: 4px;
}
.photogallery div{
  position: relative;
  padding-bottom: 31%;
}
.photogallery div:nth-child(1){
  order:1;
}
.photogallery div:nth-child(2){
  order:2;
}
.photogallery div:nth-child(3){
  order:3;
}
.photogallery div:nth-child(4){
  order:4;
}
.photogallery div:nth-child(5){
  order:6;
}
.photogallery div:nth-child(6){
  order:5;
}
.photogallery div:nth-child(7){
  order:7;
}
.photogallery div:nth-child(8){
  order:8;
}
.photogallery div:nth-child(9){
  order:9;
}
.photogallery div:nth-child(10){
  order:10;
}
.photogallery div:nth-child(11){
  order:11;
}
.photogallery div:nth-child(12){
  order:12;
}
.photogallery div:nth-child(13){
  order:13;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-row: span 2;
  grid-column: span 2;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}
@media (max-width:1220px) {
            .container {
             margin: 0;
            }
            .photogallery {
                grid-template-columns: repeat(4, 1fr);
            }
            .photogallery div:nth-child(7){
                order:4;
            }
            .photogallery div:nth-child(4){
                order:5;
            }
            .photogallery div:nth-child(5){
                order:5;
            }}
        @media (max-width:996px) {
            .photogallery {
                grid-template-columns: repeat(3, 1fr);
            }
            .photogallery div:nth-child(2){
                order:4;
            }
            .photogallery div:nth-child(3){
                order:2;
            }
            .photogallery div:nth-child(7){
                order:6;
            }
            .photogallery div:nth-child(6){
                order:3;
            }
            .photogallery div:nth-child(5){
                order:7;}
            }}
        @media (max-width:750px) {
            .photogallery div{
                padding-bottom: 27%;
            }
            .photogallery {
                grid-template-columns: repeat(2, 1fr);
            }
            .photogallery div:nth-child(2){
                order:2;
            }
            .photogallery div:nth-child(3){
                order:3;
            }
            .photogallery div:nth-child(7){
                order:4;
            }
            .photogallery div:nth-child(6){
                order:7;
            }
            .photogallery div:nth-child(5){
                order:6;}
            }}